html {
    background-color: #1E1F22;
}
body {
    display: flex;
    flex-direction: column;
    gap:50px;
    background-color:#1E1F22;
    font-family: 'Nunito Sans', sans-serif;
    width: 70%;
    margin: auto;
    padding: 40px;
}

header{
    text-align: center;
}

header a {
    background-color: #2B2D31;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav a{
    font-size: 20px;
}

section{
    padding: 1em;
    background-color: #313338;
    border-color: #3F4147;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2{
    background-color: #2B2D31;
    border-style: solid;
    border-width: 2px;
    border-color: #3F4147;
}

.bloco{
    color: #fff;
    background-color: #383A40;
    border-width: 2px;
    border-style: solid;
    border-color: #3F4147;
}

#JogosDaLista{
    overflow:auto;
    height: 800px;
}

h1 {
    text-align: center;
    border-style: solid;
    background-color: #2B2D31;
    border-radius: 10px;
    border-color: #3F4147;
    color: #B5BAC1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #B5BAC1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #00305c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

ol ul li a, span.tag {
    background-color: #eba37a;
    border-radius: 5px;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding: 2px 6px;
}

ol ul li a:hover {
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.781);
}

ol li {
    margin-top: 20px;
}

ul li {
    margin-top: 6px;
}

ol ul li a:hover {
    color: black;
}

a {
    color: #B5BAC1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    color: rgb(183, 187, 233);
}